USE [master]
GO
/****** Object:  Database [T22_Patron_MVC_3]    Script Date: 03/02/2021 23:18:33 ******/
CREATE DATABASE [T22_Patron_MVC_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T22_Patron_MVC_3', FILENAME = N'/var/opt/mssql/data/T22_Patron_MVC_3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T22_Patron_MVC_3_log', FILENAME = N'/var/opt/mssql/data/T22_Patron_MVC_3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T22_Patron_MVC_3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T22_Patron_MVC_3]
GO
/****** Object:  Table [dbo].[ASIGNADO_A]    Script Date: 03/02/2021 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNADO_A](
	[Cientifico] [varchar](8) NOT NULL,
	[Proyecto] [char](4) NOT NULL,
 CONSTRAINT [PK_Asignado_a] PRIMARY KEY CLUSTERED 
(
	[Cientifico] ASC,
	[Proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIENTIFICOS]    Script Date: 03/02/2021 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIENTIFICOS](
	[DNI] [varchar](8) NOT NULL,
	[NomApels] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 03/02/2021 23:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[Id] [char](4) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Horas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ASIGNADO_A] ([Cientifico], [Proyecto]) VALUES (N'10000000', N'0005')
INSERT [dbo].[ASIGNADO_A] ([Cientifico], [Proyecto]) VALUES (N'11000000', N'0010')
INSERT [dbo].[ASIGNADO_A] ([Cientifico], [Proyecto]) VALUES (N'20000000', N'0004')
GO
INSERT [dbo].[CIENTIFICOS] ([DNI], [NomApels]) VALUES (N'10000000', N'Victor')
INSERT [dbo].[CIENTIFICOS] ([DNI], [NomApels]) VALUES (N'11000000', N'Menganito 10')
INSERT [dbo].[CIENTIFICOS] ([DNI], [NomApels]) VALUES (N'20000000', N'Menganito 2')
GO
INSERT [dbo].[PROYECTO] ([Id], [Nombre], [Horas]) VALUES (N'0001', N'a', 2)
INSERT [dbo].[PROYECTO] ([Id], [Nombre], [Horas]) VALUES (N'0002', N'Proyecto Y', 21)
INSERT [dbo].[PROYECTO] ([Id], [Nombre], [Horas]) VALUES (N'0003', N'Proyecto Z', 22)
GO
ALTER TABLE [dbo].[ASIGNADO_A]  WITH CHECK ADD FOREIGN KEY([Cientifico])
REFERENCES [dbo].[CIENTIFICOS] ([DNI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ASIGNADO_A]  WITH CHECK ADD FOREIGN KEY([Proyecto])
REFERENCES [dbo].[PROYECTO] ([Id])
ON UPDATE CASCADE
GO
USE [master]
GO
